body {
    background-color: rgb(0, 6, 16);
    font-family: Saira;
    margin: 0;
    display: flex;
    justify-content: center;
    color-scheme: dark;
}

p {
    color: white;
}

h1, h2, h3{
    color: white;
}

* {
    box-sizing: border-box;
}

.background {
    display: flex;
    position: fixed;
    z-index: -1;
    width: 100%;
    height: 100%;
}

.background-left {
    transform:rotate(180deg)
}

.left-bar {
    width: 24%;
    min-width: 250px;
    border-right: rgb(150, 150, 150) solid;
    border-left: rgb(150, 150, 150) solid;
}

.sticky-container {
    position: sticky;
    top: 0;
    height: 100vh;
    background: linear-gradient(180deg, rgb(0, 36, 55),
        rgba(0, 24, 37, 0.468));
    margin-top: 0;
    overflow: hidden;
    overflow-y: auto;
}

.left-bar h1 {
    font-family: Aldrich;
    text-align: center;
    color: white;
    margin-bottom: 8px;
    margin-top: 15px;
}

.left-bar h1 a{
    text-decoration: none;
    color: white;
    font-size: 60px;
}

.left-bar h1 a:active{
    color:rgb(0, 156, 208)
}

.left-bar p {
    text-align: center;
    color:rgb(0, 156, 208);
}

.profile-pic {
    display: block;
    width: 160px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
}

.social-links {
    list-style-type: none;
    color: rgb(241, 241, 241);
    font-size: 30px;
    padding-left: 20px;
    margin-top: 0px;
}

.social-links a{
    color: rgb(241, 241, 241);
    text-decoration: none;
}

.social-links hr{
    margin: 2px;
    margin-right: 20px;
}

.social-links li {
    display: flex;
    background: none;
    background-size: 0% 100%;
    transition: background-size 0.4s cubic-bezier(0,1.05,.42,1);
    border-radius: 5px;
    font-size: 28px;
}

.social-links li:hover{
    background: linear-gradient(90deg, rgba(0, 78, 120, 1) 50%,
        rgba(0, 78, 120, 0));
    background-size: 100% 100%;
    background-repeat: no-repeat;

}

.social-links a:hover{
    text-decoration: underline;
}

.social-links img {
    width: 40px;
    margin-right: 20px
}

.right-side {
    width: 45%;
    border-right: rgb(150, 150, 150) solid;
    min-width: 365px;
}

.top-bar {
    height: 60px;
    position: sticky;
    top: 0;
    z-index: 100;
}

.categories {
    display: flex;
    font-size: 30px;
    color: rgb(241, 241, 241);
    text-decoration: none;
    height: 100%;
}

.categories a{
    text-align: center;
    text-decoration: none;
    color: white;
    display: block;
    flex: 1;
    padding-top: 6px;
    border-right: white solid;
    background-color: rgb(0, 55, 87);
    transition: background-color 0.5s cubic-bezier(0,1.05,.42,1);
}

.categories a:last-of-type {
    border-right: none;
}

.categories a:hover {
    text-decoration: underline;
    background: rgb(0, 109, 168);
}

.right-bar {
    margin-top: 0;
    background-color:rgba(15, 15, 15, 0.748);
    padding: 15px;
}   

.showcase-image {
    display: block;
    width: 100%;
    border-radius: 5px;
    margin-right: auto;
    margin-left: auto;
    box-shadow: 0 0 30px 0px rgba(255, 255, 255, 0.297);
    transition: box-shadow 0.5s cubic-bezier(0,1.05,.42,1);
}

.showcase-image:hover {
    box-shadow: 0 0 30px 5px rgba(255, 255, 255, 0.447);
}

.showcase-info h2{
    font-family: Aldrich;
    display: inline-block;
    font-size: 30px
}

.showcase-title {
    text-align: left;
    width: 60%;
}

.showcase-title:hover {
    text-decoration: underline;
}

.showcase-date {
    text-align: right;
    width: 40%;
    color: rgb(156, 156, 156);
}

.tracklist-title {
    margin-left: 15px;
    margin-top: 25px;
    font-size: 20px;
    margin-bottom: 0;
}

.showcase-tracklist {
    margin-top: 0px;
    color: rgb(210, 210, 210);
    font-size: 20px;
}

.others-gallery-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    width: 100%;
}

.gallery-item {
    position: relative;
    width: 47%;
    min-width: 150px;
    overflow: hidden;
    border-radius: 5px;
    transform: scale(1);
    box-shadow: 0 0 0px 0px rgba(255, 255, 255, 0.297);
    transition: transform 0.5s cubic-bezier(0,1.05,.42,1),
        box-shadow 0.5s cubic-bezier(0,1.05,.42,1);
}

.gallery-item:hover {
    transform: scale(1.02);
    box-shadow: 0 0 20px 0px rgba(255, 255, 255, 0.297);
}

.gallery-item img{
    display: block;
    width: 100%;
    transform: scale(1);
    transition: transform 0.5s cubic-bezier(0,1.05,.42,1);
}

.gallery-item:hover > img {
    transform: scale(1.07);
}

.img-hover-overlay {
    font-family: Aldrich;
    font-size: 15px;
    text-align: center;
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(0, 78, 120, 0) 20%,
        rgba(0, 78, 120, 1));
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    opacity: 0;
    transition: 0.5s opacity cubic-bezier(0,1.05,.42,1);
}

.img-hover-overlay:hover {
    opacity: 1;
}

.img-hover-overlay > * {
    transform: translateY(20px);
    transition: 0.5s transform cubic-bezier(0,1.05,.42,1);
}

.img-hover-overlay:hover > * {
    transform: translateY(0px);
}

footer {
    padding-top: 150px;
    padding-left: 20px;
    padding-right: 20px;
    background: linear-gradient(rgba(128, 128, 128, 0),
        rgba(60, 60, 60, 0.501));
    border-radius: 15px;
}

footer p {
    display: inline-block;
    color: rgb(177, 177, 177);
    margin-bottom: 30px;
}

footer a {
    color: rgb(177, 177, 177);
}

footer a:hover {
    color: rgb(0, 255, 72)
}

footer hr{
    transform: translateY(-10px)
}

.website-credit {
    text-align: left;
    width: 40%;
}

.icons-credit {
    text-align: right;
    width: 60%;
}

.contact-info {
    padding: 50px;
    text-align: center;
    font-size: 25px;
    height: 60vh;
}

.discography-title {
    font-family: Aldrich;
    text-align: center;
    margin-bottom: 30px
}

.profiles { 
    display: flex;
    flex-wrap: wrap;
    column-gap: 15px;
}

.profile-container {
    background: linear-gradient(90deg,
        rgba(128, 128, 128, 0.059),
        rgba(60, 60, 60, 0.501));
    display: flex;
    width: 230px;
    height: 115px;
    align-items: center;
    justify-content:center;
    border-radius: 5px;
    overflow: hidden;
    padding-right: 8px;
    margin-top: 20px;
}

.profile-container .sidebar {
    width: 20px;
    height: 100%;
    margin-right: 8px;
}

.profile-description{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.profile-description-text {
    margin: 0;
    width: 100%;
}

.profile-socials-container {
    display: flex;
    column-gap: 5px;
}

.profile-description img {
    width: 30px;
    margin-top: 8px;
    transform: scale(1);
    transition: transform 0.5s cubic-bezier(0,1.05,.42,1);
}

.profile-description img:hover {
    transform: scale(1.2);
}

#linktree {
    width: 25px
}

#instagram {
    width: 32px;
}

.profile-pfp {
    width: 100px;
    height: 100px;
    border-radius: 5px;
    margin-right: 8px;
}

.iframe-container {
    position: relative;
    width: 100%;
    padding-bottom: 56.25%; /* 16:9 */
    height: 0;
}

.iframe-container iframe {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    border: none;
    border-radius: 5px;
    
}

::selection {
    background: rgb(0, 122, 188)
  }

@media (max-width: 600px) {
    body {
        flex-direction: column;
    }

    .left-bar {
        width: 100%;
    }

    .right-side {
        width: 100%;
        border-right: none;
    }
    
    .contact-info {
        font-size: 4vw;
    }

    .social-links li {
        display: flex;
        background: none;
        background-size: 0% 100%;
        transition: background-size 0.4s cubic-bezier(0,1.05,.42,1);
        border-radius: 5px;
        font-size: 35px;
    }

    .background {
        display: flex;
        position: fixed;
        z-index: -1;
        width: 200%;
        height: 200%;
        transform: translateY();
    }
}